

.parallax-xe {
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    /* height:4rem; */
  }

  .parallax-xe .scroller-xe {
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    /* height:20rem; */
    /* width:40rem; */
  }

  .scroller-xe span {
    display: inline-block;
    margin-right: 5rem;
    /* background-color: black; */
    /* font-size:9.2rem; */
    /* color:black; */
    padding: 2rem;
    /* margin:2rem; */
    width:50vw;
    /* height:20rem; */
    @media (max-width:76rem){
      width:99vw;
      height:auto;
      object-fit:cover;
    }
  }

  /* .scroller span * { */
    /* height:auto; */
    /* width:40rem; */
    /* object-fit:cover; */
    /* font-size:4rem; */
  /* } */