   
   
   

   
   
   
   
   
   
   

.Div-ani {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  place-items:center;
  overflow: hidden;
  border:none;
  outline:none;
     
     
     
     
  @media(max-width:76rem){
    white-space: break-spaces;
       
  }
  .absContainer-ani{
  position: absolute;
  top: 0;
  border:none;
  outline:none;
  }
}
 
   
   
   
   
   
   
   
   

   
   
   
   

.word-ani{
     
  position: relative;
  text-align:center;
  border:none;
  outline: none;
     
     
  .Span-ani{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  color: var(--link-color);
  font-size: clamp(0.5rem,1.6vw,1.8rem);
  font-weight: 400;
  border:none;
  outline: none;
     

    @media (max-width: 768px) {
      color: var(--Background);
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
   
   
   
   
   
   

   
   
   
   
   
   
   

   
   
   
   
   
   

   
   
   
   
   
   
   
   
   
   

   
   
   
   

   
   
   
   
   
