nav{
    position:sticky;
    top:0rem;
    background:rgb(5, 5, 5);
    color:rgba(242, 244, 247, 0.9);
        opacity:1;
    z-index:1000;
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:1rem;
    padding:1rem;
    flex-wrap:wrap;
    max-width:99vw;
    font-family:var(--font-family-4);
    list-style-type: none;
    @media (max-width:76rem){
        justify-content:space-between;
    }
    @media (min-width:30rem) and (max-width:40rem){
        overflow-x:hidden;
    }

    .navbar__left{
        display:flex;
        place-items:center;
        margin-left:2rem;
        p{
            font-size:1.6rem;
            color:rgba(5, 64, 159, 0.9);
        }
        .navbar__left-image{
            width: 4rem;    
            height:auto;
            overflow: hidden;    
            object-fit:contain;    
            background-size:100%;    
            margin-bottom:1rem;
            border-radius:1rem;
            padding:0.5rem;
            img{
                object-fit: cover;    
                object-position: center center;    
                margin-top:1rem;
                   
                border-radius:0.5rem;
            }
        }  
    }
    #check {
        @media (max-width:76rem){
            &:checked ~ .navbar__menu {
                right:0%;
                animation: fromRight 2s cubic-bezier(2.975, 3.985, 0.72, 1.8575) 1;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                border-radius: 5px;

                @keyframes fromRight {
                    0% {
                        right:100%;
                    }
                    100% {
                        right:0%;
                        border-radius: 100px 50px 500px 200px;
                    }
                }
            }
        }
        @media (min-width:35rem) and (max-width:44rem){
            &:checked ~ .navbar__menu {
                right:0%;
                animation: fromRight 2s cubic-bezier(0.175, 0.185, 0.72, 1.8575) 1;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 60%);
                border-radius: 10px 10px 50px 20px;
        
                @keyframes fromRight {
                    0% {
                        right:100%;
                    }
                    100% {
                        right:0%;
                    }
                }
            }
        }

    }
    .navbar__checkbox{
        display:none;
    }
    .navbar__menu {
        display:flex;
        justify-content:center;
        align-items: center;
        color:rgb(64, 64, 63);
        gap:1rem;
        .contact_li{
            a{
                display:flex;
                place-items:center;
                gap:1rem;
            }
        }
        .navbar__menu-item{
            position: relative;
            a{
                .styled-link{
                    display:flex;
                    place-items:center;
                }
            }
            .dropdown-menu {
                display: none;
                position: absolute;
                top: 100%;
                left: -50%;
                right:-50%;
                padding:1rem;
                background-color: #fbfafa;    
                border-radius:10px;
                @media (max-width:70rem){
                    left:-90%;
                    color:rgb(3, 3, 156);
                    text-align:center;
                }
              }
              &:hover .dropdown-menu {
                display:flex;
                flex-direction:column;
                color: rgb(10, 10, 10);
                justify-content:space-between;
                align-items:center;
                width:min-content;
                background:rgb(250, 250, 250);
                border: 0.2px solid rgb(204, 204, 203);
                z-index:100;
                @media (max-width:70rem){
                    width:fit-content;
                    color:blue;
                    text-align:center;
                }
                div.drop-ani{
                    border-bottom: 0.2px solid #e1e1e1;
                    border-bottom-width: 20%;
                    width:12vw;
                    height:5rem;
                    border-width: 1px;
                    padding:1rem 1rem;
                    overflow: hidden;
                    text-align:center;
                    transition: border-bottom 2s;
                    white-space: nowrap;
                    @media (max-width:70rem){
                        white-space:wrap;
                        text-align:center;
                        color:blue;
                        width:fit-content;
                        border-width:0px;
                    }
                &:hover div.drop-ani{
                    
                    border-bottom-color: #c6c6ca;
                    border-bottom-width: 100%;
                    color:rgb(239, 102, 17);
                }

                }
                div.drop-ani:focus{
                    border-bottom: 0.2px solid #e1e1e1;
                    border-bottom-width: 20%;
                    color:red;
                    width:12vw;
                    height:5rem;
                    border-width: 1px;
                    padding:1rem 1rem;
                    overflow: hidden;
                    text-align:center;
                    transition: border-bottom 2s;
                    white-space: nowrap;
                    @media (max-width:70rem){
                        white-space:wrap;
                        text-align:center;
                        color:blue;
                        width:fit-content;
                        border-width:0px;
                        width:10vw;
                    }
                &:hover div.drop-ani{
                    
                    border-bottom-color: #c6c6ca;
                    border-bottom-width: 100%;
                    color:rgb(239, 102, 17);
                    outline-width:1rem;
                }

                }
                p{
                    border-bottom-width: 20%;
                    border-width: 1px;
                    overflow: hidden;
                    text-align:center;
                    transition: border-bottom 2s;
                    white-space: nowrap;
                    @media (max-width:70rem){
                        left:-50%;
                        white-space:wrap;
                        text-align:center;
                        color:blue;
                    }
                &:hover p{
                      
                      
                      
                      
                    
                      
                      
                    color:rgb(6, 101, 216);
                    width:100%;
                }

                }
              }
        }
        & > * {
            padding:0.5rem;
        }
        @media (min-width:30rem) and (max-width:45rem){
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items:center;
              
            padding-inline:0.2rem;
            margin-top:2rem;
            gap:1rem;
            width:80vw;
            height:100vh;
              
            position:fixed;
            top:0;
            right:100%;
            z-index:200;
            background-color: rgba(12, 16, 22, 0.9);
              
            margin: 1rem auto;
            transform: translateX(0);
            & > *:not(:last-child) {
                padding-inline:0.2rem;
                margin-block:3rem;
            }
           
           
              
        }

        @media (max-width:76rem){
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-inline:0.2rem;
            gap:1rem;
            width:60vw;
            padding-top:5rem;
            height:100vh;
            position:fixed;
            top:0;
            right:100%;
            z-index:200;
            background-color: rgba(14, 14, 14, 0.549);
            background-color: rgba(12, 16, 22, 0.9);

              
              
            margin: 0rem auto;
            transform: translateX(0);
            & > *:not(:last-child) {
                padding-inline:0.2rem;
                margin-block:2rem;
            }
           
           
        }
        li a{
            text-decoration: none;
            font-size: 1.6rem;
              
            padding-bottom: 1rem;
            border-bottom: 2px solid transparent;
            transition: border-bottom 2s;
               
              
            color:rgba(5, 64, 159, 0.9);
              
              
              
            cursor: pointer;
            &:hover {
                border-bottom-color: #fcfcfd;
            }
            @media (max-width:76rem){
                  
                  
                color:rgba(236, 237, 239, 0.9);

                  
            }
            
        }
        .navbar__close  {
            display:none;
            position:absolute;
            top:3rem;
            right:1.5rem;
              
            color:rgba(5, 64, 159, 0.9);
            cursor: pointer;
            font-size: 1.5rem;
            a {
                font-size: 1.8rem;
            }
            @media (max-width:76rem){
                display:block;
                  
                color:rgba(3, 28, 118, 0.9);
            }
        }
        
        
    }
    .navbar__open {
        display:none;
        position:absolute;
        top:4rem;
        right:2rem;
          
          
        color: rgba(248, 248, 249, 0.9);


        cursor: pointer;
        font-size: 1.5rem;
        @media (min-width:30rem) and (max-width:40rem){
            display:block;
        }
        a {
            font-size: 1.8rem;
        }
        @media (max-width:76rem){
            display:block;
        }
        
    }
    
}
}

 
      
      
      
      
      
      
      
      
      
      
      
      


 
 
 
 







   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
       
  

  
  
  
   
  
  
  
  


   