.hero__pricing{
    text-align:center;
       
    padding:1.5rem 2rem;
    font-family:var(--font-family-4);
    background-color: black;
    @media (max-width:76rem){
               
    }
    .pricing__maskText{
        overflow:hidden;
        color:white;
           
        margin:1rem;
        font-size:2rem;
    }
    h1 {
        padding:1rem 1.2rem;
        margin:1rem;
        font-size: 6rem;
        font-weight:800;
           
        color:rgba(5, 64, 159, 0.9);
    }
    h3 {
        font-size:1.8rem;
        font-family: var(--font-italic);
        font-style: italic;
        color:rgb(133, 135, 129);
        font-weight:300;
        padding:1rem 1.2rem;
        margin:0.5rem;
           
        @media (max-width:76rem){
            max-width:80vw;
        }

    }
    .hero__pricing_details{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:3rem;
        padding:1rem;
           
        @media (max-width:76rem){
            flex-direction: column;
            align-items: center;
        }

        .hero__pricing-details-c{
            width:30vw;
               
            &:first-child{
            background-color: rgb(7, 152, 184);
            color:white;
            border-radius:10px;
               
            }

            &:nth-child(2){
                background-color: rgb(246, 246, 90);
                color:black;
                   
                border-radius:10px;
            
            }

            &:hover{
                animation: bounce 5s infinite alternate;
            }

            @keyframes bounce {
                to {
                    transform: translateY(-20px);
                }
            }

            @media (max-width:76rem){
                width:80vw;
            }

        }
    }
    
}

.hero__pricing > h1 {
    padding:1rem 1.2rem;
    margin:1rem;
    font-size: 6rem;
    font-weight:800;
       
    color:rgba(5, 64, 159, 0.9);
}

.hero__pricing > h3 {
    font-size:1.8rem;
    font-family: var(--font-italic);
    font-style: italic;
    color:rgb(7, 10, 234);
    font-weight:300;
    padding:1rem 1.2rem;
    margin:0.5rem;
       
}

.hero__pricing_details{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    padding:1rem;
       
}

.hero__pricing_details .hero__pricing-details-c:first-child{
    background-color: black;
    color:white;
    border-radius:10px;
       

}

.hero__pricing_details .hero__pricing-details-c:nth-child(2){
    background-color: rgba(0,0,0, 0.04);
    color:black;
       
    border-radius:10px;

}

.pricing__cards{
       
       
    border: 2px solid transparent;
    min-height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
       
       
    width:100%;
    border-radius: 8px;
    padding:1.5rem 1rem;

    h1{
        font-size: 3rem;
        font-weight:400;
           
           
        margin: 0 1.2rem;
        text-size-adjust: 0.5;
    }

    h2{
        font-size: 2.5rem;
        font-weight:700;
        margin: 0 1.2rem;
        padding-bottom: 2rem;
        border-bottom: 0.3px solid #abaaaa;
        width:90%;
        text-align:left;
        color:rgba(5, 64, 159, 0.9);
    }
    
    .qualities{ 
        // text-align:start;
        justify-content:flex-start;
        h3{
            font-size: clamp(0.5rem,2vw,1.4rem);
            font-weight:100;
            text-align: start;
            // align-self: flex-start;
            margin: 0rem 0.3rem;
            color:rgb(21, 224, 45);
            @media (max-width:40rem){
                font-size:0.3rem;
                color:blue;
            }
        }
    }
    
    
    p{
        font-size: 2rem;
        font-weight:300;
           
        margin: 0 1.2rem;
           
        text-align:left;
           
    }
     
    button{
        padding:1rem 1.5rem;
           
           
        font-size:1.6rem;
        background-color: rgba(5, 64, 159, 0.9);    ;
        color:white;
        border-radius:5px;
        border:2px solid transparent;
        align-self: center;
        width:90%;
           
    } 
}
   
   
   
   
   
   
   
   

.hero__pricing-details-c:hover{
    animation: bounce 5s infinite alternate;
}

@keyframes bounce {
    to {
        transform: translateY(-20px);
    }
}

// .pricing__cards h1{
//     font-size: 3rem;
//     font-weight:400;
       
       
//     margin: 0 1.2rem;
//     text-size-adjust: 0.5;
// }



// .pricing__cards h2{
//     font-size: 2.5rem;
//     font-weight:700;
       
//     margin: 0 1.2rem;
//     padding-bottom: 2rem;
//     border-bottom: 0.3px solid #abaaaa;
//     width:90%;
//     text-align:left;
//     color:rgba(5, 64, 159, 0.9);



// }


// .pricing__cards   h3{
//     font-size: clamp(0.5rem, 2vw,3rem);
//     font-weight:100;
//        color:rgb(9, 255, 0);
//     text-align: left;
//     align-self: flex-start;
//     margin: 0 0.3rem;
//     @media (max-width:50rem){
//         font-size:0.2rem;
//     }

// }

// .pricing__cards-h3{
//     color:red;
//     text-align: left;
//     align-self: flex-start;
//     font-size: clamp(0.5rem, 2vw,1.5rem);
//     margin-left:-2rem;
// }


// .pricing__cards p{
//     font-size: 2rem;
//     font-weight:300;
       
//     margin: 0 1.2rem;
       
//     text-align:left;

       
// }
// .pricing__cards button{
//     padding:1rem 1.5rem;
       
       
//     font-size:1.6rem;
//     background-color: rgba(5, 64, 159, 0.9);    ;
//     color:white;
//     border-radius:5px;
//     border:2px solid transparent;
//     align-self: center;
//     width:90%;
       
// }


   
   
   
       
   

   
       
       
   
   
       
   
   
       
   
