section {
  background-color: black;
  padding: 1rem 1rem;
  margin:0rem;

}
.Inner-fe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 90vw;
  padding:1rem;
  margin :0 auto;

  h2 {
    color: rgb(36, 53, 186);
    font-size: 3.85rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    margin-top: 5rem;

    h2 {
      font-size: 3rem;
      font-weight: 800;
      margin-top: 1.75rem;
    }
  }
}

.ImageContainer-fe {
  max-width: 99%;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;

  img {
    object-fit: cover;
    border-radius: 0.75rem;
  }

  @media (max-width: 768px) {
    border-radius: 0.5rem;

    img {
      height: 90vh;
      object-fit:cover;
    }
  }
}

.ParallaxImages-fe {
  position: relative;
  max-width: 99vw;
  margin: 3rem auto 0;
  img{
    object-fit:cover;    
    width:100%;
    height:auto   
  }
}

.Div-fe {
  position: relative;
  height: clamp(70vh,80vw,90vh);
  width: 90vw;
  max-width:100%;
  max-height:100%;
  img{
    width:100%;
    height:auto;
    object-fit:contain;
    @media (max-width: 50rem) {
      img {
       object-fit: contain;
       /* width:35rem; */
       /* height:auto; */
      }
   }
  }
  
}