.hero__video{
    
    background-color:black;
    padding:2.5rem 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family-4);
    align-items:center;
    gap:1rem;
    max-width:99vw;
    margin:0rem 0rem;
    overflow:hidden;
       
       
       
    @media (max-width:76rem){
           
        
           
        gap:1rem;
        max-width:99vw;
           
    }
    .maskH1{
        overflow:hidden;
        padding: 1rem 1.5rem;

        h1 {
            font-size:4rem;
               
            color:white;
            max-width:99vw;
            font-weight:600;
               
               
            @media (max-width:76rem){
                   
                   
                max-width:95vw;
            }
            
        }

    }
    
    .imageCover {
        max-width: 99%;
        margin: 0 auto;
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 0.75rem;

        img {
            object-fit: cover;
            border-radius: 0.75rem;
            height:80vh;
        }

        @media (max-width: 768px) {
            border-radius: 0.5rem;

            img {
            height: 90vh;
            object-fit:cover;
            }
        }
    }
    .hero__video-img{
        max-width:60vw;
        background-size:cover;
        aspect-ratio:16;
        margin: 0 auto;
        padding: 1rem 1rem;
        height:auto;
        img{
            border-radius: 20px;
            object-fit:cover;
            object-position: 40%;
        }
        @media (max-width:76rem){
                max-width:90vw;
                   
        }
    }
    .hero__video-btn{
        padding:1rem 1.5rem;
        color: white;
        background-color: var(--color-1);
           
        border-radius:5px;
        border: 2px solid transparent;
           
        font-size:1.4rem;
        max-width:90vw;
        font-size:1.6rem;
           
           
        @media (max-width:76rem){
               
               
            max-width:95vw;
               
        }
        
    }
}


   
   
   

   
   
   
   
   
   
   
   
   
   
    
   
   
   
   
   
   
   
   
   
       
       
       
       
       
       
       
   



.hero__video h1 {
    font-size:4rem;
       
    color:white;
    max-width:99vw;
    font-weight:600;
       
}

.hero__video-btn{
    padding:1rem 1.5rem;
    color: white;
    background-color: var(--color-1);
       
    border-radius:5px;
    border: 2px solid transparent;
       
    font-size:1.4rem;
    max-width:90vw;
    font-size:1.6rem;

       

       
}